<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.classtime.service.dao.ClassTimeMainMapper" >
  <resultMap id="BaseResultMap" type="com.classtime.service.model.ClassTimeMain" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="categoryid" property="categoryid" jdbcType="INTEGER" />
    <result column="begintime" property="begintime" jdbcType="TIMESTAMP" />
    <result column="endtime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="sumnum" property="sumnum" jdbcType="INTEGER" />
      <result column="sid" property="sid" jdbcType="INTEGER" />
      <result column="classname" property="classname" jdbcType="VARCHAR" />
      <result column="orgclassid" property="orgclassid" jdbcType="INTEGER" />
      <result column="color" property="color" jdbcType="VARCHAR" />

  </resultMap>
  <sql id="Base_Column_List" >
    id, sid, begintime, endtime, num, sumnum,categoryid,classname,orgclassid,color
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from classtimemain
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from classtimemain
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.classtime.service.model.ClassTimeMain" >
    insert into classtimemain (id, sid, begintime,
      endtime, num, sumnum,categoryid,classname,orgclassid,color
      )
    values (#{id,jdbcType=INTEGER}, #{sid,jdbcType=INTEGER}, #{begintime,jdbcType=TIMESTAMP},
            #{endtime,jdbcType=TIMESTAMP}, #{num,jdbcType=INTEGER}, #{sumnum,jdbcType=INTEGER},
            #{categoryid,jdbcType=INTEGER},#{classname,jdbcType=VARCHAR}, #{orgclassid,jdbcType=INTEGER},
            #{color,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.classtime.service.model.ClassTimeMain" >
    insert into classtimemain
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sid != null" >
        sid,
      </if>
      <if test="begintime != null" >
        begintime,
      </if>
      <if test="endtime != null" >
        endtime,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="sumnum != null" >
        sumnum,
      </if>

        <if test="categoryid != null" >
            categoryid,
        </if>
        <if test="classname != null" >
            classname,
        </if>
        <if test="orgclassid != null" >
            orgclassid,
        </if>
        <if test="color != null" >
            color,
        </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="begintime != null" >
        #{begintime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="sumnum != null" >
        #{sumnum,jdbcType=INTEGER},
      </if>

        <if test="categoryid != null" >
            #{categoryid,jdbcType=INTEGER},
        </if>
        <if test="classname != null" >
            #{classname,jdbcType=VARCHAR},
        </if>
        <if test="orgclassid != null" >
            #{orgclassid,jdbcType=INTEGER},
        </if>
        <if test="color != null" >
            #{color,jdbcType=VARCHAR},
        </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.classtime.service.model.ClassTimeMain" >
    update classtimemain
    <set >
      <if test="sid != null" >
        sid = #{sid,jdbcType=INTEGER},
      </if>
      <if test="begintime != null" >
        begintime = #{begintime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        endtime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="sumnum != null" >
        sumnum = #{sumnum,jdbcType=INTEGER},
      </if>


        <if test="categoryid != null" >
            categoryid = #{categoryid,jdbcType=INTEGER},
        </if>
        <if test="classname != null" >
            classname = #{classname,jdbcType=VARCHAR},
        </if>
        <if test="orgclassid != null" >
            orgclassid = #{orgclassid,jdbcType=INTEGER},
        </if>
        <if test="color != null" >
            color = #{color,jdbcType=VARCHAR},
        </if>

    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.classtime.service.model.ClassTimeMain" >
    update classtimemain
    set sid = #{sid,jdbcType=INTEGER},
      begintime = #{begintime,jdbcType=TIMESTAMP},
      endtime = #{endtime,jdbcType=TIMESTAMP},
      num = #{num,jdbcType=INTEGER},
      sumnum = #{sumnum,jdbcType=INTEGER},
      categoryid= #{categoryid,jdbcType=INTEGER},
      classname = #{classname,jdbcType=VARCHAR},
      orgclassid = #{orgclassid,jdbcType=INTEGER},
      color = #{color,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>