<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.classtime.service.dao.PictemplateMapper" >
  <resultMap id="BaseResultMap" type="com.classtime.service.model.Pictemplate" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="category" property="category" jdbcType="BIGINT" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="INTEGER" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="parentid" property="parentid" jdbcType="BIGINT" />
    <result column="oldfilename" property="oldfilename" jdbcType="VARCHAR" />
    <result column="newfilename" property="newfilename" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, category, url, size, summary, type, parentid, oldfilename, newfilename
  </sql>

    <select id="getPictemplateList"  resultMap="BaseResultMap"  parameterType="map" >
        select
        <include refid="Base_Column_List" />
        from pictemplate
        where parentid = #{parentid,jdbcType=BIGINT}
        and  category = #{category,jdbcType=BIGINT}
        and type =#{type,jdbcType=INTEGER} order by id
    </select>



    <select id="getPictemplateListNew"  resultMap="BaseResultMap"  parameterType="map" >
        select
        <include refid="Base_Column_List" />
        from pictemplate
        where parentid = #{parentid,jdbcType=BIGINT}
        and  category = #{category,jdbcType=BIGINT}
        order by id
    </select>


    <select id="selectBySelective" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List" />
        from pictemplate
        where parentid = #{parentid,jdbcType=BIGINT}
        and  category = #{category,jdbcType=BIGINT}
        and type =#{type,jdbcType=INTEGER} order by id asc
        limit #{star,jdbcType=BIGINT},#{num,jdbcType=BIGINT}
    </select>


    <select id="selectBySelectiveNew" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List" />
        from pictemplate
        where parentid = #{parentid,jdbcType=BIGINT}
        and  category = #{category,jdbcType=BIGINT}
        order by id asc
        limit #{star,jdbcType=BIGINT},#{num,jdbcType=BIGINT}
    </select>


    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from pictemplate
        where id = #{id,jdbcType=BIGINT}
    </select>



    <select id="selectByParentid" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from pictemplate
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from pictemplate
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByFileName" parameterType="java.lang.String" >
        delete from pictemplate
        where newfilename = #{newfilename,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.classtime.service.model.Pictemplate" >

        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
        insert into pictemplate (id, category, url,
        size, summary, type,
        parentid,oldfilename,newfilename)
        values (#{id,jdbcType=BIGINT}, #{category,jdbcType=BIGINT}, #{url,jdbcType=VARCHAR},
        #{size,jdbcType=INTEGER}, #{summary,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR},
        #{parentid,jdbcType=BIGINT}, #{oldfilename,jdbcType=VARCHAR}, #{newfilename,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.classtime.service.model.Pictemplate" >
        insert into pictemplate
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="category != null" >
                category,
            </if>
            <if test="url != null" >
                url,
            </if>
            <if test="size != null" >
                size,
            </if>
            <if test="summary != null" >
                summary,
            </if>
            <if test="type != null" >
                type,
            </if>
            <if test="parentid != null" >
                parentid,
            </if>
            <if test="oldfilename != null" >
                oldfilename,
            </if>
            <if test="newfilename != null" >
                newfilename,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="category != null" >
                #{category,jdbcType=BIGINT},
            </if>
            <if test="url != null" >
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="size != null" >
                #{size,jdbcType=INTEGER},
            </if>
            <if test="summary != null" >
                #{summary,jdbcType=VARCHAR},
            </if>
            <if test="type != null" >
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="parentid != null" >
                #{parentid,jdbcType=BIGINT},
            </if>
            <if test="oldfilename != null" >
                #{oldfilename,jdbcType=VARCHAR},
            </if>
            <if test="newfilename != null" >
                #{newfilename,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.classtime.service.model.Pictemplate" >
        update pictemplate
        <set >
            <if test="category != null" >
                category = #{category,jdbcType=BIGINT},
            </if>
            <if test="url != null" >
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="size != null" >
                size = #{size,jdbcType=TINYINT},
            </if>
            <if test="summary != null" >
                summary = #{summary,jdbcType=VARCHAR},
            </if>
            <if test="type != null" >
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="parentid != null" >
                parentid = #{parentid,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.classtime.service.model.Pictemplate" >
        update pictemplate
        set category = #{category,jdbcType=BIGINT},
        url = #{url,jdbcType=VARCHAR},
        size = #{size,jdbcType=TINYINT},
        summary = #{summary,jdbcType=VARCHAR},
        type = #{type,jdbcType=VARCHAR},
        parentid = #{parentid,jdbcType=BIGINT}
        where id = #{id,jdbcType=BIGINT}
    </update>


</mapper>